html {
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 768px;
    background-color: beige;
}


.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 768px;
    padding: 20px 0;
    border-bottom: solid 2px grey;
}

nav a {
    text-decoration: none;
    color: grey;
    padding: 0 20px;
}

.loggutknapp {
    background-color: beige;
    color: grey;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 5px;
}


.backlink {
    text-decoration: none;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0;
}


.oppskriftsinfo {
    margin-top: 20px;
    margin-bottom: 20px;
}


.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.pagination a {
    text-decoration: none;
    color: grey;
}

.currentPage {
    color: black;
}