<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logg inn</title>
    <link rel="stylesheet" th:href="@{/loggInn.css}">
</head>
<body>

<nav class="navigationBar">
    <div class="navigationVenstre">
        <a th:href="'/forside'">Forside</a>
        <a th:href="'/oppskrifter'">Oppskrifter</a>
        <a th:if="${session.innloggetBruker!=null}" th:href="'/bruker/mineOppskrifter'">Mine favoriserte oppskrifter</a>
    </div>
    <div class="navigationHøyre" th:if="${session.innloggetBruker==null}">
        <a th:href="'/bruker/loggInn'">Logg inn</a>
        <a th:href="'/bruker/registrer'">Registrer ny bruker</a>
    </div>
    <div th:if="${session.innloggetBruker!=null}">
        <span>Innlogget som </span>
        <span th:text="${session.innloggetBruker.getBrukernavn()}"></span>
    </div>
    <div th:if="${session.innloggetBruker!=null}">
        <form action="/bruker/loggUt" method=POST>
            <input class="loggutknapp" type="submit" value="Logg ut">
        </form>
    </div>
</nav>

<form class="loggInnForm" action="/bruker/loggInn" method=POST>

    <!--    Kan på sikt legge inn fornavn og etternavn. Men da må disse bli stående igjen i koden hvis man
    lager et brukernavn som allerede er tatt i bruk-->

    <label for="brukernavn">Brukernavn</label>
    <input type = "text" name="brukernavn" id="brukernavn"> <br><br>

    <label for="passord">Passord</label>
    <input type="text" name="passord" id="passord"> <br><br>

    <input type="submit" value="Logg inn">

</form>

<form class="knappTilRegistrering" action="/bruker/gåTilRegistrering" method=POST>
    <input type="submit" value="Registrer ny bruker">
</form>

</body>
</html>