<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oppskrift</title>
    <link rel="stylesheet" th:href="@{/oppskriftDetaljside.css}">
</head>
<body>
<header>
    <nav>
        <a th:href="'/forside'">Forside</a>
        <a th:href="'/oppskrifter'">Oppskrifter</a>
        <a th:href="'/bruker/loggInn'">Logg inn</a>
        <a th:href="'/bruker/registrer'">Registrer ny bruker</a>
    </nav>

    <div th:if="${session.innloggetBruker!=null}">
        <p th:text="${session.innloggetBruker.getBrukernavn()}"></p>
        <form action="/bruker/loggUt" method=POST>
            <input type="submit" value="Logg ut">
        </form>
    </div>

</header>
<div>
    <a class="backlink" th:href="'/oppskrifter?page=' + ${currentPage}">Tilbake til oppskrifter</a>
</div>
<div class="oppskriftsinfo">
    <h2 th:text="${currentOppskrift.oppskriftstittel}"></h2>
    <h4>Kategori:</h4>
    <p th:text="${currentOppskrift.kategori}"></p>
    <h4>Allergier:</h4>
    <p th:text="${currentOppskrift.allergier}"></p>
    <h4>Ingredienser:</h4>
    <p th:text="${currentOppskrift.ingredienser}"></p>
    <h4>Fremgangsmåte:</h4>
    <p th:text="${currentOppskrift.oppskriftstekst}"></p>
</div>
</body>
</html>