<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oppskrifter</title>
    <link rel="stylesheet" th:href="@{/oppskrifter.css}">
</head>
<body>
    <nav class="navigationBar">
        <div class="navigationVenstre">
            <a th:href="'/forside'">Forside</a>
            <a th:href="'/oppskrifter'">Oppskrifter</a>
            <a th:if="${session.innloggetBruker!=null}" th:href="'/bruker/mineOppskrifter'">Mine favoriserte oppskrifter</a>
        </div>
        <div class="navigationHøyre" th:if="${session.innloggetBruker==null}">
            <a th:href="'/bruker/loggInn'">Logg inn</a>
            <a th:href="'/bruker/registrer'">Registrer ny bruker</a>
        </div>
        <div th:if="${session.innloggetBruker!=null}">
            <span>Innlogget som </span>
            <span th:text="${session.innloggetBruker.getBrukernavn()}"></span>
        </div>
        <div th:if="${session.innloggetBruker!=null}">
            <form action="/bruker/loggUt" method=POST>
                <input class="loggutknapp" type="submit" value="Logg ut">
            </form>
        </div>
    </nav>
    <h1>Oppskrifter</h1>
    <form class="allergiFilter" th:action="'/oppskrifter?page=' + ${session.currentPage}" method=POST>
        <label for="allergi">Allergi: </label>
        <select name="allergi" id="allergi">
            <option th:selected="${session.allergi == '   '}" value="   ">   </option>
            <option th:selected="${session.allergi == 'Nøtter'}" value="Nøtter">Nøtter</option>
            <option th:selected="${session.allergi == 'Gluten'}" value="Gluten">Gluten</option>
            <option th:selected="${session.allergi == 'Laktose'}" value="Laktose">Laktose</option>
        </select>
        <input type="submit" value="Filtrer">
    </form>
    <div class="oppskrifter">
        <div th:each="oppskrift : ${session.oppskrifterOnPage}" class="oppskrifterInfoBox">
            <a  class="oppskriftslink" th:href="'/oppskrift?page=' + ${session.currentPage} + '&oppskriftsnavn=' + ${oppskrift.getOppskriftstittel()}">
                <p class="oppskriftstittel" th:text="${oppskrift.getOppskriftstittel()}"></p>
            </a>
        </div>
    </div>
    <div class="pagination">
        <a th:if="${session.currentPage > 1}" th:href="'/oppskrifter?page=' + ${session.currentPage - 1}">Previous page</a>
        <span>&nbsp;&nbsp;</span>
        <a th:if="${session.currentPage > 1}" th:each="page : ${#numbers.sequence(1,session.currentPage - 1)}" th:text="${page}" th:href="'/oppskrifter?page=' + ${page}"></a>
        <span class="currentPage" th:text="${session.currentPage}"></span>
        <a th:if="${session.currentPage < session.totalNumberOfPages}" th:each="page : ${#numbers.sequence(session.currentPage + 1,session.totalNumberOfPages)}" th:text="${page}" th:href="'/oppskrifter?page=' + ${page}"></a>
        <span>&nbsp;&nbsp;</span>
        <a th:if="${session.currentPage < session.totalNumberOfPages}" th:href="'/oppskrifter?page=' + ${session.currentPage + 1}">Next page</a>
    </div>
</body>
</html>