<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrer ny bruker</title>
    <link rel="stylesheet" th:href="@{/registrerBruker.css}">
</head>
<body>

<header>
    <nav>
        <a th:href="'/forside'">Forside</a>
        <a th:href="'/oppskrifter'">Oppskrifter</a>
        <!--    <a th:href="'/logginn'">Logg inn</a>-->
        <a th:href="'/bruker/registrer'">Registrer ny bruker</a>
    </nav>
</header>

<h1>Registrer ny bruker</h1>

<!--<form th:action="@{/bruker/registrer}" method=POST>-->
<form action="/bruker/registrer" method=POST>

<!--    Kan på sikt legge inn fornavn og etternavn. Men da må disse bli stående igjen i koden hvis man
lager et brukernavn som allerede er tatt i bruk-->

    <label for="brukernavn">Brukernavn</label>
    <input type ="text" name="brukernavn" id="brukernavn"> <br><br>

    <label for="passord">Passord</label>
    <input type="text" name="passord" id="passord"> <br><br>

    <label for="gjentaPassord">Gjenta passord</label>
    <input type="text" name="gjentaPassord" id="gjentaPassord" > <br><br>

    <input type="submit" value="Registrer">

</form>

</body>
</html>